$black: #151515;
$dark-gray: #676767;
$gray: #cecece;
$light-gray: #e2e2e2;
$semi-white: #f3f3f3;
$white: #ffffff;

$error-msg: #ed4337;
$main-color: #5d9b5e;
$light-color: #a4e09f;
$dark-color: #1b581e;
$sub-color: #d49e3e;

$google: #e94134;
$kakao: #ffe711;

$shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$shadow-light: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
$shadow-lighter: 0 0 15px 0 rgba(34, 41, 47, 0.05);
$content-box-shadow: 1px 1px 5px 0 rgba(1, 1, 1, 0.05);
